<!DOCTYPE html> {% extends "base.html" %} {% block title %} About!{% endblock %} {% block html %} {{ super() }} {% block result %}
<br>
<br>
<br>
<div class="container">
    <div class="container">
        <h2 class="text-center">Contributors</h2>
        <p class="text-center">Up to this point we have two contriubutors.
            <br> Ahmad M. Osman:
            <a href="https://www.linkedin.com/in/ahmadmagdyosman/">LinkedIn</a> &ndash;
            <a href="https://github.com/Ahmad-Magdy-Osman/">GitHub</a>.
            <br> Austin Resee:
            <a href="https://github.com/austinreese1998">GitHub</a>.
        </p>
    </div>
    <br>
    <br>
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <p class="text-center">To get in touch with us, please email
            <a href="mailto:ahmad.osman@luther.edu">ahmad.osman@luther.edu</a>.
        </p>
    </div>
</div>

{% block footer %} {{super()}} {% endblock %} {% endblock %} {% endblock %}