<!DOCTYPE html> {% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %} Fun Times &ndash; Your Movies
Entertaining Guide! {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link type="image/x-icon" href="{{url_for( '.static', filename='favicon.ico')}}" rel="shortcut icon"> {% endblock %} {% block content %} {% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			    aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/main">Fun Times &ndash; Your Movies Entertaining Guide!</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/main">Home</a>
				</li>
				<li>
					<a href="{{ url_for('liked') }}">Liked</a>
				</li>
				<li>
					<a href="{{ url_for('viewed') }}">Visited</a>
				</li>
				<li>
					<a href="{{ url_for('searched') }}">Searched</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					{{ wtf.quick_form(form,form_type="horizontal",horizontal_columns=("lg",10,12),button_map={"submit": "primary"}) }}
				</li>
				<li>
					<a href="{{ url_for('about') }}">About Us</a>
				</li>
				<li>
					<a href="{{ url_for('logout') }}">Log Out</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %} {% endblock %} {% block footer %}
<footer class="panel-heading margin-y-lg text-center align-top bg-dark footer-css" id="footer">
	<b>Fun Times &copy; 2018</b>
</footer>
{% endblock %}