<!DOCTYPE html> {% extends "base.html" %} {% block title %} {{film[0]['title']}} {% endblock %} {% block html %} {{ super() }} {% block
film %}
<div class="container">
	<div class="col-md-12 text-center">
		<br>
		<h1>
			<b>{{film[0]['title']}}</b>
		</h1>
		<br>
		<div class="col-md-6">
			<img src="http://image.tmdb.org/t/p/w300//{{film[0]['poster_path']}}" alt="Sorry" style="border-radius: 10%;">
			</a>
		</div>
		<div class="col-md-6">
			<h3>Released {{film[0]["release_date"]}}</h3>
		</div>
		<div class="col-md-6">
			<p style="text-align:justify;">{{film[0]["overview"]}}</p>
		</div>
		<div class="col-md-6">
			<h3 style="text-align:justify;">{{film[0]["overview"]}}</h3>
		</div>
		<div class="col-md-6">
			<h3>Rating</h3>
			{% if rating == 5 %}
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			{% endif %} {% if rating == 4 %}
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star"></span>
			{% endif %} {% if rating == 3 %}
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			{% endif %} {% if rating == 2 %}
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			{% endif %} {% if rating == 1 %}
			<span class="fa fa-star" style="color: orange"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			{% endif %} {% if rating == 0 %}
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			{% endif %}
		</div>
		<div class="col-md-3">
			<h4>Rent</h4>
			{% for item in range(rent|length) %}
			<div class="col-md-12">
				<a href="{{rent[item]['url']}}" target=_blank>{{rent[item]["provider"]}} - {{rent[item]['price']}}</a>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-3">
			<h4>Buy</h4>
			{% for item in range(buy|length) %}
			<div class="col-md-12">
				<a href="{{buy[item]['url']}}" target=_blank>{{buy[item]["provider"]}} - {{buy[item]['price']}}</a>
			</div>
			{% endfor %}
		</div>
		{% endblock %}
	</div>
	<div class="col-md-12">
		<h2 class="text-center">Starring</h2>
		{% for member in range(cast|length) %}
		<div class="col-md-3 panel panel-default text-center" style="height: 400px; border-radius: 10%;">
			<div style="border-radius: 9%;">
				<h4>{{cast[member]['name']}}</h4>
			</div>
			<div class="panel-body size_hack">
				<figure>
					<img src="http://image.tmdb.org/t/p/w200//{{cast[member]['profile_path']}}" alt="Sorry" style="border-radius: 10%;">
					<figcaption>{{cast[member]['character']}}</figcaption>
				</figure>
			</div>
			<hr style="border-color:white">
		</div>
		{% endfor %}
	</div>

	{% block footer %} {{super()}} {% endblock %} {% endblock %}